# from the icentia-ecg dir
*.npz
~*
*.pyc
__cache__
*.sw*

# Added to ignore
data
*.idea
*liran_project/notebooks/wandb/*
*liran_project/results/*
*liran_project/wandb/*
*wandb/*

# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

# End of https://www.gitignore.io/api/python
