# from the icentia-ecg dir
*.npz
~*
*.pyc
__cache__
*.sw*

# Added to ignore
data
*.idea
/home/liranc6/ecg/ecg_forecasting/liran_project/notebooks/wandb/*
/home/liranc6/ecg/ecg_forecasting/liran_project/results/*
/home/liranc6/ecg/ecg_forecasting/liran_project/wandb/*
/home/liranc6/ecg/ecg_forecasting/wandb/*

# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

# End of https://www.gitignore.io/api/python
